* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    color: #f5f6fa;
}

header ul {
    display: flex;
    gap: 1rem;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}


.container {
    padding: 1rem;
    max-width: 1366px;
    margin: 0 auto;
}

.articles {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.articles article img {
    /* aspect-ratio: 4/3; */
    width: 100%;
}




section h2 {
    margin-bottom: 1rem;
}

.articles article h3 {
    margin: .5rem 0;
}

.articles article a {
    padding: .5rem;
    display: inline-block;
    margin-top: .5rem;
    color: whitesmoke;
    text-decoration: none;
    border-radius: .23rem;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;

}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
    color: white;
}

#economy {
    background-color: #f8f59f;

}

#economy .articles article a {
    background-color: #ff9f1a;
}

#games {
    background-color: rgba(255, 0, 0, 0.562);
}


#games .articles article a {
    background-color: rgba(255, 0, 0, 0.562);
}

#tecnology {
    background-color: rgb(60, 184, 255);
}

#tecnology .articles article a {
    background-color: rgb(8, 74, 255);
}